* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fffaf0;
  color: #222;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.05em;
  margin: 0.2em 0;
}

h1 {
  font-size: 5.38em;
}

h2 {
  font-size: 3.84em;
}

h3 {
  font-size: 2.74em;
}

h4 {
  font-size: 1.96em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 1em 0 0;
}

p + p {
  margin: 0;
}

.post-info {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.05em;
  margin: 0.2em 0;
  font-size: 1.2em;
  text-align: center;
}

a {
  outline: none;
  text-decoration: none;
  color: #86a578;
}

a:visited {
  color: #f6aa1c;
}

a:hover {
  color: #e54b4b;
}

q {
  font-style: italic;
  letter-spacing: 0.05em;
}

blockquote {
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 10px 30px;
}

blockquote:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

ul, ol, dl {
}

/* Buttons */
.btn {
  width: 150px;
  padding: 10px 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  display: inline-block;
}

.btn-primary {
  background-color: transparent;
  border: 2px solid #f6aa1c;
  border-radius: 3px;
  color: #f6aa1c;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: #f6aa1c;
  border: 2px solid #f6aa1c;
  border-radius: 3px;
  color: #fffaf0;
  transform: scale(0.9);
}

.btn-secondary {
  background-color: #e54b4b;
  border: 2px solid #e54b4b;
  color: #fffaf0;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 2px solid #e54b4b;
  color: #e54b4b;
  transform: scale(0.9);
}

/* Container Elements */

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(30px, auto);
  gap: 6px;
  grid-template-areas:
  "nav nav"
  "top-post top-post"
  "post-1 post-2"
  "post-3 post-4"
  "post-5 post-4"
  "ft ft";
}

/* navigation */

nav {
  grid-area: nav;
  background-color: #F6AA1C;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100px;
  padding: 10px;
}

#nav-flex-title {
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  color: #222;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 1.2em;
  text-align: center;
  margin-left: 0;
  font-weight: 700;
}

#nav-flex-menu {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  font-size: 1em;
  margin: 0px;
  transition: all 0.3s;
}

li {
  padding: 0 5px;
}

.nav-item {
  list-style-type: none;
  margin: 5px;
}

.nav-item > a {
  color: #222;
  padding: 8px 20px;
  border-radius: 2px;
}

.nav-item > a:hover {
  color: #222 !important;
  background-color: #fffaf0;
  border: 1px solid #fffaf0;
}

.nav-item > a:visited {
  color: #222;
}

/* media query grid */

@media (min-width: 600px) {
  #grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto 30px;
    gap: 6px;
    grid-template-areas:
    "nav nav nav nav"
    "top-post top-post post-1 post-1"
    "top-post top-post post-2 post-2"
    "post-3 post-4 post-4 post-5"
    "ft ft ft ft";
  }
  nav {
    height: 60px;
  }
  #nav-flex-title {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    justify-content: flex-start;
    align-items: center;
  }
  #title {
    font-size: 1.2em;
    text-align: center;
    margin-left: 0;
    font-weight: 600;
  }
  #nav-flex-menu {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    list-style-type: none;
    font-size: 1em;
    margin: 0px;
    transition: all 0.3s;
  }
}

#top-post {
  grid-area: top-post;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/ryan-tang-ANJHXftvvJ8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
}

#top-post h4 {
  text-align: center;
}


.text-gradient {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60%;
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px;
  text-align: center;
  border-radius: 2px;
}

.link {
  outline: none;
  text-decoration: none;
  color: #fffaf0;
}

.link:visited {
  color: #fffaf0;
}

.link:hover {
  color: #F6AA1C;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .post h4 {
    font-size: 1.5em;
  }
  .post .post-info {
    font-size: 0.8em;
  }
  .text-gradient {
    padding: 8px 15px;
    margin: 5px;
  }
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
  min-height: 160px;
}


#post-1 {
  grid-area: post-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/alex-knight-wfwUpfVqrKU-unsplash.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-2 {
  grid-area: post-2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/elliot-banks-5EVCk6E6EEk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-3 {
  grid-area: post-3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/jezael-melgoza-7H77FWkK_x4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-4 {
  grid-area: post-4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/jezael-melgoza-layMbSJ3YOE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-5 {
  grid-area: post-5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/pawel-nolbert-4u2U8EO9OzY-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#footer {
  grid-area: ft;
  height: 30px;
  color: #222;
  padding-bottom: 10px;
  text-align: center;
}

.fab {
  padding: 5px;
}
