* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background-color: #f5f6f8;
  color: #222;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  margin: 0.2em 0;
}

h1 {
  font-size: 5.38em;
}

h2 {
  font-size: 3.84em;
}

h3 {
  font-size: 2.74em;
}

h4 {
  font-size: 1.96em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 1em;
  margin: 1em 0 0;
}

p + p {
  margin: 0;
}

strong {
}

em {
}

u {

}

a {
  outline: none;
  text-decoration: none;
  color: #86a578;
}

a:visited {
  color: #f29d4d;
}

a:hover {
  color: #e54b4b;
}

q {
  font-style: italic;
  letter-spacing: 0.05em;
}

blockquote {
  font-style: italic;
  line-height: 2;
  letter-spacing: 0.05em;
  padding: 0 20px;
}

blockquote:first-letter {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

ul, ol, dl {
  text-align: left;
}

/* Buttons */
.btn {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0;
  cursor: pointer;
  /* display: inline-block; */
}

.btn-primary {
  background-color: #86a578;
  border: 3px solid #86a578;
  color: #f5f6f8;
  transition: all 0.5s;
}

.btn-primary:hover {
  background-color: transparent;
  border: 3px solid #86a578;
  color: #86a578;
  transform: scale(0.9);
}

.btn-secondary {
  background-color: #e54b4b;
  border: 3px solid #e54b4b;
  color: #f5f6f8;
  transition: all 0.5s;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 3px solid #e54b4b;
  color: #e54b4b;
  transform: scale(0.9);
}

/* Container Elements */

#wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "nav"
    "hd"
    "recent-post"
    "sd"
    "post-container"
    "ft";
}

@media (min-width: 600px) and (max-width: 800px){
  #wrapper {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-areas:
      "nav nav nav nav"
      "hd hd hd hd"
      "recent-post recent-post recent-post sd"
      "post-container post-container post-container sd"
      "ft ft ft ft";
  }
}

@media (min-width: 801px) {
  #wrapper {
    grid-template-columns: auto auto auto 250px;
    grid-template-areas:
    "nav nav nav nav"
    "hd hd hd hd"
    "recent-post recent-post recent-post sd"
    "post-container post-container post-container sd"
    "ft ft ft ft";
  }
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: absolute;
}

ul {
  transition: all 0.5s;
}

.nav-item {
  list-style-type: none;
  border: 3px solid #f5f6f8;
  margin: 5px;
  padding: 1px 5px;
}

.nav-item:hover {
  color: #e54b4b !important;
  border: 3px solid #e54b4b;
}

.nav-item > a:visited {
  color: #86a578;
}

#header {
  grid-area: hd;
  height: 300px;
  width: 100%;
  background-image: url("../img/header-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#side {
  background-color: rgba(122, 108, 100, 0.3);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
  "wel img"
  "intro img";
}

#profile-pic {
  width: 100%;
  height: auto;
  border-radius: 3px;
  max-width: 30vw;
  grid-area: img;
}

#intro-text {
  grid-area: intro;
}

#side > h2 {
  grid-area: wel;
}

#post-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 600px) {
  #header {
    grid-area: hd;
    height: 300px;
    width: 100%;
    background-image: url("../img/header-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #post-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
  }
  #side {
    background-color: rgba(122, 108, 100, 0.3);
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "img"
    "wel"
    "intro";
}

#recent-post {
  grid-area: recent-post;
}

#side {
  grid-area: sd;
}

#post-container {
  grid-area: post-container;
}

#footer {
  grid-area: ft;
  text-align: center;
  background-color: rgba(122, 108, 100, 0.3);
}

/*
div {
  border: 2px solid red;
}

h2 {
  border: 2px solid blue;
}
*/
