/* Coolors Exported Palette - coolors.co/e54b4b-0e111e-7a6c5d-86a578-f29d4d */

/* HSL */
$color1: hsla(0%, 75%, 60%, 1);
$color2: hsla(229%, 36%, 9%, 1);
$color3: hsla(31%, 13%, 42%, 1);
$color4: hsla(101%, 20%, 56%, 1);
$color5: hsla(29%, 86%, 63%, 1);

/* RGB */
$color1: rgba(229, 75, 75, 1);
$color2: rgba(14, 17, 30, 1);
$color3: rgba(122, 108, 93, 1);
$color4: rgba(134, 165, 120, 1);
$color5: rgba(244, 201, 93, 1);
