<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="style-template.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i,700|Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
  <h1>This is Headline 1</h1>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <h2>This is Headline 2</h2>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <h3>This is Headline 3</h3>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <h4>This is Headline 4</h4>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <h5>This is Headline 5</h5>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <h6>This is Headline 6</h6>
  <p>
  This is a paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quod maxime aperiam ipsum, minus assumenda qui, expedita totam recusandae blanditiis!
  </p>

  <strong>This is a bold text.</strong>
  <em>This is an italic text.</em>
  <u>This is an underlined text.</u>
  <a href="#">This is a link.</a>
  <q>This is an inline quote</q>
  <blockquote cite="#">
  This is a blockquote: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi itaque quam vel corporis eius iste reprehenderit, ab, aperiam dicta quaerat. Sapiente, culpa temporibus sit, fugiat at illum labore dolor officiis voluptatem iusto, recusandae asperiores velit. Recusandae laborum, repudiandae qui ipsa voluptates modi quisquam est, at, eos omnis atque temporibus. orem ipsum dolor sit amet, consectetur adipisicing elit. Beatae sequi itaque quam vel corporis eius iste reprehenderit, ab, aperiam dicta quaerat. Sapiente, culpa temporibus sit, fugiat at illum labore dolor officiis voluptatem iusto, recusandae asperiores velit. Recusandae laborum, repudiandae qui ipsa voluptates modi quisquam est, at, eos omnis atque temporibus.
  </blockquote>
  <div class="btn btn-primary">Click me</div>
  <div class="btn btn-secondary">Click me</div>
</body>
</html>
